

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html,body{margin:0;padding:0;}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-y:hidden;
    height: 95vh;
    
}

.title{
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    width: 100%;
    max-width: 600px;
    text-align: center;

}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: pink;
    border-radius: 15px;
    padding: 25px;
    height: auto;
    width: 80%;
    max-width: 500px;
    transition: border-radius 0.3s;
}

.card.rounded {
    border-radius: 15px;
}

.card.square {
    border-radius: 0;
}

.topHalf{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cardColor {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 20px;
}



.lyricCont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
}

.lyricTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    width: 100%;
    max-width: 350px;
}

.lyricSinger {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 100%;
    max-width: 350px;
}

.imageCont {
    width: 80px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#imagePlaceholder {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

#spotify {
    height: 30px;
    border-radius: 10px;
}

.lyrics {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
}

.bottomHalf {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}


.slider-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider-text {
  
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  @media screen and (max-width: 768px) {
    .cardColor {
        flex-direction: column;
        height: 200px;
    }

  
      .slider-text {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    
      
}

[contenteditable] {
    outline: 0px solid transparent;
  }

  footer {
    text-align: center;
    padding: 3px;
    
    color: #000;
    box-sizing:border-box;
    height: 5vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    

  }

  #out{
    color: #000;
  }

@media screen and (max-width: 670px) {
    .cardColor {
        flex-direction: column;
        height: 200px;
        width: 90%;
        margin-left: 30px;
        
    }


      .slider-text {
       
        margin-left: 30px;  
        margin-right: 30px;
        vertical-align: middle;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    
      
}


  
 